<div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 mt-5">
<h3 class=" text-secondary fw-semibold text-center"> Edit Transaction</h3> 
  
  <%= render "form", entity: @entity %> 
  

  
<%= link_to "Back to Transction list", entities_path, class:"offset-8 text-secondary" %>
</div>