<div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 mt-5">

   <h3 class="text-warning text-center">Welcome to the Users Page</h3> 
   <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user_path(user.id) %>
    </p>
  <% end %> 
  
</div>