<div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 mt-5"> 
    
   <%= render @user %>
   <div>
      <%= link_to "Edit this user", edit_registration_path(@user) , class:"btn btn-outline-success"%> |
      <%= link_to "Back to users", users_path , class:"btn btn-outline-success" %>
      <%= button_to "Destroy this user", @user, method: :delete , class:"btn btn-outline-success" %>
   </div>
  
</div>