<div class="col-sm-12 col-md-12 main">
  <div class="col-sm-10 col-md-6 offset-1 offset-md-3 content">  
    <h1 class="title"> <%= image_tag "logo.jpg", class: 'logo'%> BUDGET  TRACKER</h1>
    <i>Budget Tracker provides track of daily transaction that helps make wise financial desicions</i>
  </div>
  
  <div class="btn_dev">
     <%= link_to "LOG IN", new_user_session_path, class: 'btn btn-outline-primary log-btn '%>
     <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary log-btn' %>
  </div>

</div>