@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

body {
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  background-color: #cecece30;
  color: #434b549a;
}

a {
  text-decoration: none;
}

select {
  width: 100%;
}

form input {
  border-radius: 0% !important;
  padding: 10px 8px !important;
  border: none !important;
}

form input[type=submit] {
  border-radius: 10px !important;
  padding: 5px 8px !important;
}

.menu button {
  border: none;
  background: transparent;
}

.form-control {
  background: transparent;
}

hr {
  width: 95%;
  margin-left: 2.5%;
}

.main,
.main_con {
  height: 100vh;
  background: whitesmoke;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main_con {
  height: 72vh;
}

.color {
  color: rgba(0, 0, 0, 0.545) !important;
}

.content {
  padding-top: 200px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title img {
  width: 100px;
  border-radius: 30px;
}

.log-btn {
  width: 90%;
  border-radius: 0% !important;
}

.log-btn1 {
  background: #3778c2;
}

.btn_dev {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.menu {
  background: #3778c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 20px 10px;
  color: aliceblue;
}

.center {
  margin-left: 40%;
}

.log_link a {
  color: rgba(0, 0, 0, 0.418);
}

.icon {
  border: none;
  outline: none;
  color: aliceblue;
}

.btn_dev1 {
  background: #5fb523;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  font-size: 1.5rem;
  padding-top: 35%;
  color: #434b54;
}

.btn-outline-light:hover {
  background: #5fb523;
  color: aliceblue;
}

.image {
  width: 80px;
  height: 80px;
}

.log {
  background: transparent;
  color: aliceblue !important;
}

.space {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feild {
  background-color: transparent !important;
}

.feild:focus {
  outline: none;
  border: none;
}

@media (min-width: 980px) {
  .main {
    justify-content: center;
  }

  .content {
    padding-top: 2px;
    padding-bottom: 7px;
  }

  .btn_dev {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .log-btn {
    width: 10%;
  }

  .btn_dev1 .log-btn {
    width: 100%;
  }

  .welcome {
    padding-top: 15%;
  }
}
